<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.purchase.mapper.MmsPlanMapper">
    
    <resultMap type="MmsPlan" id="MmsPlanResult">
        <result property="planId"    column="plan_id"    />
        <result property="planName"    column="plan_name"    />
        <result property="proId"    column="pro_id"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="userResult" />
        <association property="project"    column="pro_id" javaType="MmsProject" resultMap="MmsProjectResult" />
    </resultMap>

    <resultMap type="MmsProject" id="MmsProjectResult">
        <result property="proId"    column="pro_id"    />
        <result property="proName"    column="pro_name"    />
    </resultMap>

    <resultMap id="userResult" type="SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
    </resultMap>

    <resultMap id="MmsPlanMmsPlanMaterialResult" type="MmsPlan" extends="MmsPlanResult">
        <collection property="mmsPlanMaterialList" notNullColumn="sub_id" javaType="java.util.List" resultMap="MmsPlanMaterialResult" />
    </resultMap>

    <resultMap type="MmsPlanMaterial" id="MmsPlanMaterialResult">
        <result property="id"    column="sub_id"    />
        <result property="matId"    column="sub_mat_id"    />
        <result property="planId"    column="sub_plan_id"    />
        <result property="planNum"    column="sub_plan_num"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="remark"    column="sub_remark"    />
    </resultMap>

    <sql id="selectMmsPlanVo">
        select a.plan_id, a.plan_name, a.pro_id, a.status, a.user_id, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
        u.user_name, u.nick_name, u.email, u.phonenumber, u.sex, t.pro_id, t.pro_name
        from mms_plan a
        left join sys_user u on u.user_id = a.user_id
        left join mms_project t on t.pro_id = a.pro_id
    </sql>

    <select id="selectMmsPlanList" parameterType="MmsPlan" resultMap="MmsPlanResult">
        <include refid="selectMmsPlanVo"/>
        <where>  
            <if test="planName != null  and planName != ''"> and a.plan_name like concat('%', #{planName}, '%')</if>
            <if test="proId != null "> and a.pro_id = #{proId}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectMmsPlanByPlanId" parameterType="Long" resultMap="MmsPlanMmsPlanMaterialResult">
        select a.plan_id, a.plan_name, a.pro_id, a.status, a.user_id, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
 b.id as sub_id, b.mat_id as sub_mat_id, b.plan_id as sub_plan_id, b.plan_num as sub_plan_num, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.remark as sub_remark
        from mms_plan a
        left join mms_plan_material b on b.plan_id = a.plan_id
        where a.plan_id = #{planId}
    </select>

    <insert id="insertMmsPlan" parameterType="MmsPlan" useGeneratedKeys="true" keyProperty="planId">
        insert into mms_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planName != null and planName != ''">plan_name,</if>
            <if test="proId != null">pro_id,</if>
            <if test="status != null">status,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planName != null and planName != ''">#{planName},</if>
            <if test="proId != null">#{proId},</if>
            <if test="status != null">#{status},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMmsPlan" parameterType="MmsPlan">
        update mms_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planName != null and planName != ''">plan_name = #{planName},</if>
            <if test="proId != null">pro_id = #{proId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteMmsPlanByPlanId" parameterType="Long">
        delete from mms_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteMmsPlanByPlanIds" parameterType="String">
        delete from mms_plan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
    
    <delete id="deleteMmsPlanMaterialByPlanIds" parameterType="String">
        delete from mms_plan_material where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>

    <delete id="deleteMmsPlanMaterialByPlanId" parameterType="Long">
        delete from mms_plan_material where plan_id = #{planId}
    </delete>

    <insert id="batchMmsPlanMaterial">
        insert into mms_plan_material( id, mat_id, plan_id, plan_num, create_by, create_time, update_by, update_time, remark) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.matId}, #{item.planId}, #{item.planNum}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>
</mapper>