<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.supplier.mapper.MmsSupplierTypeMapper">
    
    <resultMap type="MmsSupplierType" id="MmsSupplierTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMmsSupplierTypeVo">
        select id, type_name, create_by, create_time, update_by, update_time from mms_supplier_type
    </sql>

    <select id="selectMmsSupplierTypeList" parameterType="MmsSupplierType" resultMap="MmsSupplierTypeResult">
        <include refid="selectMmsSupplierTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMmsSupplierTypeById" parameterType="Long" resultMap="MmsSupplierTypeResult">
        <include refid="selectMmsSupplierTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMmsSupplierType" parameterType="MmsSupplierType" useGeneratedKeys="true" keyProperty="id">
        insert into mms_supplier_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">#{typeName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMmsSupplierType" parameterType="MmsSupplierType">
        update mms_supplier_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMmsSupplierTypeById" parameterType="Long">
        delete from mms_supplier_type where id = #{id}
    </delete>

    <delete id="deleteMmsSupplierTypeByIds" parameterType="String">
        delete from mms_supplier_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>